<% content_for :head do %>
  <link href="assets/static/style.css" rel="stylesheet" type="text/css" />
  <link href="assets/static/premium.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="assets/static/bootstrap.min.css">
  <link rel="stylesheet" href="assets/static/style-min.css">
  <link rel="stylesheet" href="assets/cards.css">
  <link rel="stylesheet" href="assets/contact_style.css">
<% end %>

<body>
  <div class="scroll-bar">
    <div class="container">
      <div class="section-title">
        <h3>Choose your plan</h3><br>
        <ul>
          <li>
            <p class="points">Watch all you want. Advert-free.</p>
          </li>
          <li>
            <p class="points">Recommendations just for you.</p>
          </li>
          <li>
            <p class="points">Change or cancel your plan anytime.</p>
          </li>
        </ul>
      </div>

      <div class="row no-gutters justify-content-center" id="premiumcards">
        <div class="column col-lg-4 col-md-6  row__item">
          <div class="box1 featured" data-aos="fade-right">
            <center>
              <h3>Basic</h3>
              <h4>₹499&nbsp;<span>per month</span></h4>
            </center>
            <br>
            <ul>
              <li><i class="bx bx-check"></i> Video Quality: Good</li>
              <li><i class="bx bx-check"></i> Resolution: 480p</li>
              <li><i class="bx bx-check"></i> Devices you can use to watch:</li>
              <ul class="devices">
                <li>Mobile</li>
                <li>Tablet</li>
                <li>TV</li>
                <li>Computer</li>
              </ul>
            </ul>
            <form>
              <script src="https://checkout.razorpay.com/v1/payment-button.js"
                data-payment_button_id="pl_HRAIXySB68JwYQ" async> </script>
            </form>
          </div>

        </div>
        <div class="column col-lg-4 col-md-6 row__item ">
          <div class="box2 featured" data-aos="fade-up">
            <center>
              <h3>Premium</h3>
              <h4>₹799&nbsp;<span>per month</span></h4>
            </center>
            <br>
            <ul>
              <li><i class="bx bx-check"></i> Video Quality: Best</li>
              <li><i class="bx bx-check"></i> Resolution: 4K+HDR</li>
              <li><i class="bx bx-check"></i> Devices you can use to watch:</li>
              <ul class="devices">
                <li>Mobile</li>
                <li>Tablet</li>
                <li>TV</li>
                <li>Computer</li>
              </ul>
            </ul>

            <form>
              <script src="https://checkout.razorpay.com/v1/payment-button.js"
                data-payment_button_id="pl_HRAVPPvSZTE7fg" async> </script>
            </form>

          </div>
        </div>
        <div class="column col-lg-4 col-md-6 row__item">

          <div class="box3 featured" data-aos="fade-left">
            <center>
              <h3>Standard</h3>
              <h4>₹649&nbsp;<span>per month</span></h4>
            </center>
            <br>
            <ul>
              <li><i class="bx bx-check"></i> Video Quality: Better</li>
              <li><i class="bx bx-check"></i>Resolution: 1080p</li>
              <li><i class="bx bx-check"></i> Devices you can use to watch:</li>
              <ul class="devices">
                <li>Mobile</li>
                <li>Tablet</li>
                <li>TV</li>
                <li>Computer</li>
              </ul>
            </ul>
            <form>
              <script src="https://checkout.razorpay.com/v1/payment-button.js"
                data-payment_button_id="pl_HRBYgiJB9odvoA" async> </script>
            </form>
          </div>

        </div>
      </div>
    </div>
    <!-- End Pricing Section -->
  </div>
  <br>
  <br>
  <!-------------------------------Footer-------------------------------->
</body>
