<div class="form-row">
  <div class="form-group col-md-6">
    <label>Episode Name</label>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group col-md-6">
    <label>Episode relase date</label>
    <%= f.date_field :release_date, class: "form-control" %>
  </div>
</div>
